In [1]:
import pandas as pd
from requests_html import HTMLSession
import time

In [2]:
session = HTMLSession()

In [3]:
sel = '#content > div.container > div.box > section > table'

In [4]:
url = 'https://covidlive.com.au/report/cases-by-lga/vic'

In [5]:
url_data = session.get(url)
    # explain later
time.sleep(0.1)
    # get required data 
results = url_data.html.find(sel)
box_data = results[0].text
    # split the data from a string to a list
box_list = box_data.split('\n')

In [6]:
l = 5
LGA = []
while l < 325:
    LGA.append(box_list[l])
    l += 4

In [7]:
a = 6
ACTIVE = []
while a < 325:
    ACTIVE.append(box_list[a])
    a += 4

In [8]:
c = 7
CASES = []
while c < 325:
    CASES.append(box_list[c])
    c += 4

In [9]:
av = 8
Av = []
while av < 325:
    Av.append(box_list[av])
    av += 4

In [10]:
dic = {'LGA': LGA, 'ACTIVE': ACTIVE, 'CASES': CASES, '7d Av': Av}

In [11]:
data=pd.DataFrame(dic)
data

                   LGA ACTIVE CASES 7d Av
0                Casey  2,736   541   444
1      Greater Geelong  2,317   461   381
2             Brimbank  1,520   425   237
3              Wyndham  2,143   408   342
4             Moreland  1,664   367   276
..                 ...    ...   ...   ...
75            Pyrenees     38     7     7
76              Towong     35     7     6
77        Queenscliffe     22     7     3
78              Buloke     21     3     3
79  Unincorporated Vic      3     1     1

[80 rows x 4 columns]

In [12]:
f = open("C:/Users/dell/Desktop/covid.txt", "w")

In [13]:
for i in data.index:
    print("insert into covid values ( '{}', '{}', '{}', '{}') ;".format(data.loc[i]["LGA"],data.loc[i]["ACTIVE"],data.loc[i]["CASES"],data.loc[i]["7d Av"]))
    f.write("insert into covid values ( '{}', '{}', '{}', '{}');\n".format(data.loc[i]["LGA"],data.loc[i]["ACTIVE"],data.loc[i]["CASES"],data.loc[i]["7d Av"]))
    #print(sample.loc[i]["student_id"],sample.loc[i]["name"])

insert into covid values ( 'Casey', '2,736', '541', '444') ;
insert into covid values ( 'Greater Geelong', '2,317', '461', '381') ;
insert into covid values ( 'Brimbank', '1,520', '425', '237') ;
insert into covid values ( 'Wyndham', '2,143', '408', '342') ;
insert into covid values ( 'Moreland', '1,664', '367', '276') ;
insert into covid values ( 'Melbourne', '1,690', '355', '276') ;
insert into covid values ( 'Monash', '1,730', '332', '283') ;
insert into covid values ( 'Whittlesea', '1,757', '326', '284') ;
insert into covid values ( 'Hume', '1,471', '315', '237') ;
insert into covid values ( 'Whitehorse', '1,532', '311', '251') ;
insert into covid values ( 'Kingston', '1,484', '310', '241') ;
insert into covid values ( 'Boroondara', '1,597', '304', '260') ;
insert into covid values ( 'Mornington Peninsula', '1,326', '293', '218') ;
insert into covid values ( 'Melton', '1,382', '284', '222') ;
insert into covid values ( 'Glen Eira', '1,396', '281', '223') ;
insert into covid values ( 'Knox', '1,376', '278', '222') ;
insert into covid values ( 'Darebin', '1,477', '262', '239') ;
insert into covid values ( 'Yarra Ranges', '1,307', '261', '212') ;
insert into covid values ( 'Greater Dandenong', '1,117', '250', '181') ;
insert into covid values ( 'Manningham', '1,086', '250', '178') ;
insert into covid values ( 'Frankston', '1,168', '240', '191') ;
insert into covid values ( 'Ballarat', '1,051', '219', '170') ;
insert into covid values ( 'Banyule', '1,246', '218', '196') ;
insert into covid values ( 'Moonee Valley', '1,095', '211', '178') ;
insert into covid values ( 'Greater Bendigo', '1,214', '207', '194') ;
insert into covid values ( 'Port Phillip', '917', '204', '152') ;
insert into covid values ( 'Cardinia', '921', '198', '150') ;
insert into covid values ( 'Maroondah', '1,035', '197', '168') ;
insert into covid values ( 'Stonnington', '963', '184', '158') ;
insert into covid values ( 'Yarra', '872', '183', '147') ;
insert into covid values ( 'Bayside', '834', '154', '140') ;
insert into covid values ( 'Hobsons Bay', '763', '149', '123') ;
insert into covid values ( 'Maribyrnong', '815', '141', '131') ;
insert into covid values ( 'Nillumbik', '517', '118', '85') ;
insert into covid values ( 'Latrobe', '553', '98', '91') ;
insert into covid values ( 'Wodonga', '458', '95', '73') ;
insert into covid values ( 'Greater Shepparton', '473', '93', '75') ;
insert into covid values ( 'Wellington', '434', '80', '70') ;
insert into covid values ( 'Macedon Ranges', '393', '79', '64') ;
insert into covid values ( 'Mildura', '463', '72', '74') ;
insert into covid values ( 'East Gippsland', '377', '72', '60') ;
insert into covid values ( 'Baw Baw', '421', '68', '66') ;
insert into covid values ( 'Bass Coast', '290', '63', '46') ;
insert into covid values ( 'Surf Coast', '269', '59', '49') ;
insert into covid values ( 'Campaspe', '209', '59', '36') ;
insert into covid values ( 'Mitchell', '297', '52', '48') ;
insert into covid values ( 'Warrnambool', '277', '48', '48') ;
insert into covid values ( 'South Gippsland', '229', '47', '38') ;
insert into covid values ( 'Wangaratta', '268', '43', '42') ;
insert into covid values ( 'Moorabool', '231', '40', '38') ;
insert into covid values ( 'Moira', '197', '39', '32') ;
insert into covid values ( 'Indigo', '148', '38', '24') ;
insert into covid values ( 'Horsham', '245', '37', '38') ;
insert into covid values ( 'Golden Plains', '197', '35', '31') ;
insert into covid values ( 'Mount Alexander', '148', '29', '24') ;
insert into covid values ( 'Southern Grampians', '139', '23', '22') ;
insert into covid values ( 'Hepburn', '108', '22', '19') ;
insert into covid values ( 'Glenelg', '120', '21', '18') ;
insert into covid values ( 'Benalla', '118', '21', '19') ;
insert into covid values ( 'Ararat', '118', '20', '18') ;
insert into covid values ( 'Swan Hill', '111', '20', '19') ;
insert into covid values ( 'Central Goldfields', '93', '20', '15') ;
insert into covid values ( 'Colac Otway', '127', '19', '20') ;
insert into covid values ( 'Murrindindi', '99', '17', '16') ;
insert into covid values ( 'Mansfield', '80', '16', '13') ;
insert into covid values ( 'Corangamite', '79', '15', '14') ;
insert into covid values ( 'Gannawarra', '54', '15', '9') ;
insert into covid values ( 'West Wimmera', '46', '14', '8') ;
insert into covid values ( 'Alpine', '89', '13', '15') ;
insert into covid values ( 'Hindmarsh', '58', '13', '9') ;
insert into covid values ( 'Moyne', '94', '11', '17') ;
insert into covid values ( 'Northern Grampians', '80', '9', '13') ;
insert into covid values ( 'Strathbogie', '58', '8', '10') ;
insert into covid values ( 'Yarriambiack', '41', '8', '7') ;
insert into covid values ( 'Loddon', '28', '8', '5') ;
insert into covid values ( 'Pyrenees', '38', '7', '7') ;
insert into covid values ( 'Towong', '35', '7', '6') ;
insert into covid values ( 'Queenscliffe', '22', '7', '3') ;
insert into covid values ( 'Buloke', '21', '3', '3') ;
insert into covid values ( 'Unincorporated Vic', '3', '1', '1') ;

In [14]:
f.close()